body {font-family:'Open Sans';
    background:white}
    p{
      margin : 0px !important
    }
    .ws-btn{
        background-color: black;
    }
    .ws-grey{
    background-color:rgb(231, 233, 235) !important
    }
    #maincontainer{
        display: none;
    }
    .book-body{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
    }
    #section-description{
        font-size: 20px;
    }
    .toggle-bar{
        position: absolute !important;
        padding: 0px !important;
        left: 270px;
        top: 12px;
        z-index: 9;
        outline: none !important;
        color: black;
    }
    .toggle-bar:hover {
        color: #008cff;
    }
    .lhs-heading-menu{
        display: flex;
    }
    #spinner{
        visibility: hidden;
        width: 80px;
        height: 80px;
      
        border: 2px solid #085ddd;
        border-top:3px solid #0720fa;
        border-radius: 100%;
      
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right: 0;
        margin: auto;

        animation: spin 1s infinite linear;
      }
      
      @keyframes spin {
        from {
            transform: rotate(0deg);
        } to {
            transform: rotate(360deg);
        }
      }
      
      #spinner.show {
        visibility: visible;
      }
      #waiting{
        display: none;
      }
      .disabledbtn{
        background-color: red !important;
      }
      .disabledbtn:hover{
        background-color: red !important;
      }

      th { background: lightblue; } 
      .dataTables_filter{
        margin: 0px 0 10px 0;
      }
      .dataTables_scrollBody{
        height: auto !important;
      }
     
      .outersnippetdiv{
        width: 100%;
        float: left;
        margin-bottom: 40px;
      }
      
      #section-description{
        white-space: pre-line;
        padding-bottom: 10px;
      }

      .rhs{
        width: 80%;
/* float: right; */
margin: 0 0 auto auto;
padding : 40px;
    }
    #pptslides {
        background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23FF0000" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">PPT SLIDES</text></svg>') 0px 0px no-repeat;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        display: none;
    }
    #section-heading{
        font-weight:600;
    }

    /* Dashed border */
hr.dashed {
  border-top: 1px dashed #bbb;
margin: 0px;
padding-top: 10px;
padding-bottom: 10px;
}

/* Dotted border */
hr.dotted {
  border-top: 3px dotted #bbb;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}

/* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}