<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HTML Editor</title>
    <link rel="shortcut icon" href="#">

	<link rel="stylesheet" href="https://cdn.bootcss.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css" media="all" title="no title" charset="utf-8"/>
	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.24.2/jodit.es2018.min.css"
/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.24.2/jodit.es2018.min.js"></script>
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
  </script>
  <script id="MathJax-script" async
    src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
  </script>


	
    
</head>
<body >
<div class="container">
    HTML Editor!
    <p>Convert your text to html code</p>
    <textarea id="editor" name="editor"></textarea>

    <br>
    <br>
<button onclick="copyToClipboard()">
    COPY HTML OF ABOVE TEXT AND SHOW PREVIEW
</button>
<br>
<br>
<div id="result">

</div>
</div>



<!-- <div id="summernote">Hello Summernote</div> -->

</body>
<script>
/*    $(document).ready(function() {
        $('#summernote').summernote();
      }); */
    var editor = Jodit.make('#editor');
    editor.value = '<p>start</p>'; 
   /* setTimeout(() => {
      editor.e.on('change', () => {console.log(editor.value); 
      // document.getElementById("result").innerHTML=editor.value 
      MathJax.typeset(() => {
        const math = document.querySelector('#result');
        math.innerHTML = editor.value;
        return [math];
      })});
      
  }, 1000);*/
</script>
<script>
    const copyContent = async () => {
    let text = editor.getEditorValue();
      try {
        await navigator.clipboard.writeText(text);
        console.log('Content copied to clipboard');
      } catch (err) {
        console.error('Failed to copy: ', err);
      }
    }
  </script>

  <script>
    function copyToClipboard() {
        let text = editor.getEditorValue();
       document.getElementById("result").insertAdjacentHTML('beforeend',text)
        MathJax.typeset()
        var dummy = document.createElement("textarea");
        // to avoid breaking orgain page when copying more words
        // cant copy when adding below this code
        // dummy.style.display = 'none'
        document.body.appendChild(dummy);
        //Be careful if you use texarea. setAttribute('value', value), which works with "input" does not work with "textarea". – Eduard
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    }
  </script>
</html>






 
          